*{
    margin: 0;
    padding: 0;
}
.privet{
    background-color:rgb(173,216,230);
    font-size: 20px; 
    padding: 10px;
    height: 40px;
    text-align: center;
    color: rgb(0,0,255);
    vertical-align: middle;
    line-height: 40px;
}

h1{
    text-align: center;
    line-height: 25px;
    margin: 10px;
}
ul{
    margin: 20px 40px 20px 40px;
    list-style-type: disc;
}

.sport{
    width: 200px; 
    height: 420px;
    float: left;
}


.osnova{
    background: url(2.png) repeat-y right top;
    background-color:rgb(255, 255, 255);
    margin-left: 200px;
    padding: 30px;
}

.glavnoe{
    background-color:rgb(173,216,230);
    font-size: 20px; 
    color: rgb(0,0,255);
    padding: 10px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    line-height: 60px;
}